.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card-produto {
    background: #1f1f1f;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card-produto:hover {
    transform: scale(1.03);
}

.produto-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}
